{% extends 'base.html.twig' %}

{% block courselist %}

        {% for course in courses %}
            <li><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.coursename }}</a></li>
        {% endfor %}

        <li>
            <a href="{{ path('course_new') }}">Create a new Module</a>
        </li>

{% endblock %}
